footer{
    position: fixed;
    bottom: 15%;
    right: 50%;
    transform: translate(50%,50%);
    display: flex;
    gap: 15px;
    z-index: 2;
}
.hills{
   width: 100%;
   position: fixed;
   bottom: 0;
}
footer div img:hover{
    cursor: pointer;
    
}